.App {
  /*text-align: center;*/
}


.App-header {
    background-color: #FEFCF8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    /*color: white;*/
}   



.App-bar {
    background-color: #C8BBA1;
    width: 100%;
    height: auto;
    margin-bottom: 48px;
    /*position: fixed;*/
    /*top : 0px;*/
}

.App-bar-text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;

    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 48px;
}

.App-headertag{
    margin-left: 64px;
}

.App-items-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    flex: 0 0 33.3333%;
    margin: 48px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.App-campaigns-section {
    display: flex;
    flex-direction: column;
    margin: 48px 48px 48px 10vw;
    justify-items: center;
    width: 80%;
  
}

.App-campaigns-button-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-bottom: 64px;
}


.App-campaigns-button {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #7E848D;
    border-width: 0px;
    background-color: #FEFCF8;
}





.App-campaigns-button-selected {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(50, 51, 53, 0.8);
    border-width: 0px;
    background-color: #FEFCF8;
}

.App-campaigns-card-container {
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    background: #FEFCF8;
    border: 2px solid #BBBBC1;
    border-radius: 20px;
    padding: 48px;
    gap : 32px;
}


.App-campaigns-category-container {
    display: flex;
    flex-direction: row;
}


.App-summary-section {
    display: flex;
    flex-direction: column;
    margin: 48px 48px 48px 10vw;
    justify-items: center;
    width: 80%;
    border: 2px solid #BBBBC1;
    border-radius: 20px;
    padding: 48px;
    gap : 32px;
}

.App-total-beforediscount-text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #7C7C81;
}

.App-summary-container {
    display: flex;
    flex-direction: row;
    gap : 120px;
}


.App-summary-container2 {
    display: flex;
    flex-direction: row;
    gap: 155px;
}

.App-dropdown-container {
    margin-left: 48px;
}

.App-dropdown {
    border: 2px solid #BBBBC1;
    border-radius: 20px;
    padding: 12px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #7E848D;
    background-color: #FEFCF8;
}


.App-head-section{
    display: flex;
    flex-direction: row;
    gap: 48px;
}




